<div class="memento-component">
  <h2>Memento Moori</h2>
  <div class="memento-controls">
    <label for="memento-years">Year range: </label>
    <input
      id="memento-years"
      type="number"
      placeholder="Enter the year frame"
    />
    <br />
    <label for="memento-dob">Your Date of Birth: </label>
    <input
      id="memento-dob"
      type="date"
      placeholder="Enter your Date of Birth"
    />
    <button type="submit" id="memento-generate" class="memento-generate">
      Generate
    </button>
    <div class="memento-board"></div>
  </div>
</div>
